By: 10117094	Muhammad Walidin
    10116476	Idham Rahadian
    10116490	Muhammad Fajar Maulana

In [1]:
import pandas as pd
import numpy as np
import string
import re
from collections import Counter

In [2]:
raw = pd.read_csv( "data/data/1.2_data_review_cleaner_pure.csv")

In [3]:
print(raw.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 804 entries, 0 to 803
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   rating      804 non-null    int64
 1   review      804 non-null    object
 2   avg_word    804 non-null    float64
 3   word_count  804 non-null    int64
dtypes: float64(1), int64(2), object(1)
memory usage: 25.2+ KB
None

In [4]:
raw.head()

,rating,review,avg_word,word_count
0,5,"'tidak','ada','ulasan'",6.666667,3
1,5,"'puas','kecil','tapi','kencang'",7.000000,4
2,1,"'barang','yang','datang','bukan','baracuda','t...",6.428571,13
3,5,"'terima,kasih','barang','sudah','sampai','seha...",7.666667,17
4,5,"'barang','bagus','pengirman','cepat','mantap',...",7.666667,6

In [5]:
raw['review'] = raw['review'].apply(lambda x: x.replace(","," "))
raw

,rating,review,avg_word,word_count
0,5,'tidak' 'ada' 'ulasan',6.666667,3
1,5,'puas' 'kecil' 'tapi' 'kencang',7.000000,4
2,1,'barang' 'yang' 'datang' 'bukan' 'baracuda' 't...,6.428571,13
3,5,'terima kasih' 'barang' 'sudah' 'sampai' 'seha...,7.666667,17
4,5,'barang' 'bagus' 'pengirman' 'cepat' 'mantap' ...,7.666667,6
...,...,...,...,...
799,5,'barang' 'kondisi' 'oke' 'respon' 'cepat' 'dan...,7.000000,8
800,5,'barang' 'sampai' 'tepat' 'waktu' 'sesuai' 'ta...,7.318182,22
801,5,'pelayanan' 'sangat' 'bagus' 'barang' 'sesuai'...,7.700000,20
802,5,'barang' 'sampai' 'lebih' 'cepat' 'dan' 'dalam...,6.888889,18
803,3,'bonus' 'bohong' 'tidak' 'ada',6.750000,4

In [6]:
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

factory = StemmerFactory()
stemmer = factory.create_stemmer()
raw['review'] = raw['review'].apply(lambda x: stemmer.stem(x).replace(" ",","))
raw

,rating,review,avg_word,word_count
0,5,"tidak,ada,ulas",6.666667,3
1,5,"puas,kecil,tapi,kencang",7.000000,4
2,1,"barang,yang,datang,bukan,baracuda,tiga,lima,tu...",6.428571,13
3,5,"terima,kasih,barang,sudah,sampai,hari,langsung...",7.666667,17
4,5,"barang,bagus,pengirman,cepat,mantap,deh",7.666667,6
...,...,...,...,...
799,5,"barang,kondisi,oke,respon,cepat,dan,sangat,baik",7.000000,8
800,5,"barang,sampai,tepat,waktu,sesuai,target,lazada...",7.318182,22
801,5,"layan,sangat,bagus,barang,sesuai,dengan,yang,p...",7.700000,20
802,5,"barang,sampai,lebih,cepat,dan,dalam,kondisi,sa...",6.888889,18
803,3,"bonus,bohong,tidak,ada",6.750000,4

In [7]:
def avg_word(words):
  return (sum(len(word) for word in words)/len(words))

raw['avg_word'] = raw['review'].apply(lambda x: avg_word(x.split(",")))

In [8]:
raw.head()

,rating,review,avg_word,word_count
0,5,"tidak,ada,ulas",4.000000,3
1,5,"puas,kecil,tapi,kencang",5.000000,4
2,1,"barang,yang,datang,bukan,baracuda,tiga,lima,tu...",4.923077,13
3,5,"terima,kasih,barang,sudah,sampai,hari,langsung...",5.444444,17
4,5,"barang,bagus,pengirman,cepat,mantap,deh",5.666667,6

In [9]:
raw.to_csv("data/data/1.3_data_review_stemmed.csv", index=False)