In [1]:
import pandas as pd
import numpy as np
import string
import re
from collections import Counter

In [2]:
raw = pd.read_csv( "data/data/data_clean_clean.csv")
slang_words = pd.read_csv("data/external/kbba_ID.txt",
                        sep="\t", header=None)
slang = pd.read_csv("data/external/slangword_ID.txt",
                        sep=":", header=None)
baku_words = pd.read_csv("data/external/katabaku_ID.txt",
                        sep="|", header=None)
baku_words.columns = [1,0]
root_words = np.array(pd.read_csv("data/external/rootword_ID.txt",
                        sep="\n", header=None).values)
slang_words = pd.concat([slang_words, slang, baku_words])

In [3]:
raw

,rating,review,aspect_category,polarity,word_count,avg_word
0,3,"'membantu', 'kondisi', 'pandemi', 'tolong', 'e...",Pelayanan,negatif,44,9.159091
1,5,"'konsultasi', 'dokter', 'bagus', 'durasi', 'ce...",Pelayanan,negatif,10,9.300000
2,1,"'astaga', 'obat', 'beli', 'obat', 'harga', 'ma...",Harga,negatif,30,8.433333
3,5,"'terima kasih', 'pelayanan', 'baik', 'cepat', ...",Pelayanan,positif,13,10.153846
4,1,"'menelepon', 'nomor', 'hadiah', 'konfirmasi', ...",Sistem,positif,10,10.800000
...,...,...,...,...,...,...
795,5,"'semudah', 'diklik', 'praktis', 'bantu'",Anekdot/Serbaneka,positif,4,9.000000
796,5,"'pelayanan', 'ramah', 'paham', 'bidangnya'",Anekdot/Serbaneka,positif,4,9.750000
797,4,"'bagus', 'aplikasi', 'dokter', 'pribadi', 'ter...",Anekdot/Serbaneka,positif,5,10.400000
798,5,"'memudahkan', 'konsultasi', 'rumah'",Pelayanan,positif,3,11.000000
799,5,"'membantu', 'pelayanan', 'dokter', 'memuaskan'",Pelayanan,positif,4,10.750000

In [4]:
slang_words.drop_duplicates(inplace=True)
slang_words = dict(zip(slang_words[0],slang_words[1]))
raw['review'] = raw['review'].apply(lambda x: x.replace(","," "))
def delete_suffix_nya(review):
    return re.sub("(?:nya|ny|y)[$|\s]"," ",review)
    
raw['review'] = raw['review'].apply(delete_suffix_nya)
raw['review'] = raw['review'].apply(lambda x: x.split())

In [5]:
raw

,rating,review,aspect_category,polarity,word_count,avg_word
0,3,"['membantu', 'kondisi', 'pandemi', 'tolong', '...",Pelayanan,negatif,44,9.159091
1,5,"['konsultasi', 'dokter', 'bagus', 'durasi', 'c...",Pelayanan,negatif,10,9.300000
2,1,"['astaga', 'obat', 'beli', 'obat', 'harga', 'm...",Harga,negatif,30,8.433333
3,5,"['terima, kasih', 'pelayanan', 'baik', 'cepat'...",Pelayanan,positif,13,10.153846
4,1,"['menelepon', 'nomor', 'hadiah', 'konfirmasi',...",Sistem,positif,10,10.800000
...,...,...,...,...,...,...
795,5,"['semudah', 'diklik', 'praktis', 'bantu']",Anekdot/Serbaneka,positif,4,9.000000
796,5,"['pelayanan', 'ramah', 'paham', 'bidangnya']",Anekdot/Serbaneka,positif,4,9.750000
797,4,"['bagus', 'aplikasi', 'dokter', 'pribadi', 'te...",Anekdot/Serbaneka,positif,5,10.400000
798,5,"['memudahkan', 'konsultasi', 'rumah']",Pelayanan,positif,3,11.000000
799,5,"['membantu', 'pelayanan', 'dokter', 'memuaskan']",Pelayanan,positif,4,10.750000

In [6]:
raw.to_csv('data/data/1.2_data_untuk_tfidf.csv',index=False)

In [7]:
def mapping_slang_words(review):
    return [slang_words[word] if word in slang_words else word for word in review]
raw['review'] = raw['review'].apply(mapping_slang_words)

In [8]:
def convert_list_to_string(word_list):
    return ",".join(word_list)
raw['review'] = raw['review'].apply(convert_list_to_string)
raw = raw.dropna(subset=['review'],how='all')
raw = raw[raw['review'].map(len) > 0]

In [9]:
def avg_word(words):
  return (sum(len(word) for word in words)/len(words))

raw['avg_word'] = raw['review'].apply(lambda x: avg_word(x.split(",")))

In [10]:
raw.head()

,rating,review,aspect_category,polarity,word_count,avg_word
0,3,"'membantu','kondisi','pandemi','tolong','evalu...",Pelayanan,negatif,44,7.782609
1,5,"'konsultasi','dokter','bagus','durasi','cepat'...",Pelayanan,negatif,10,8.400000
2,1,"'astaga','obat','beli','obat','harga','masuk',...",Harga,negatif,30,7.466667
3,5,"'terima,kasih','pelayanan','baik','cepat','pen...",Pelayanan,positif,13,8.500000
4,1,"'menelepon','nomor','hadiah','konfirmasi','apl...",Sistem,positif,10,8.909091

In [11]:
raw['review'] = raw['review'].astype(str)
raw.head()

,rating,review,aspect_category,polarity,word_count,avg_word
0,3,"'membantu','kondisi','pandemi','tolong','evalu...",Pelayanan,negatif,44,7.782609
1,5,"'konsultasi','dokter','bagus','durasi','cepat'...",Pelayanan,negatif,10,8.400000
2,1,"'astaga','obat','beli','obat','harga','masuk',...",Harga,negatif,30,7.466667
3,5,"'terima,kasih','pelayanan','baik','cepat','pen...",Pelayanan,positif,13,8.500000
4,1,"'menelepon','nomor','hadiah','konfirmasi','apl...",Sistem,positif,10,8.909091

In [12]:
raw['review'] = raw['review'].apply(lambda x: x.strip())
raw.head()

,rating,review,aspect_category,polarity,word_count,avg_word
0,3,"'membantu','kondisi','pandemi','tolong','evalu...",Pelayanan,negatif,44,7.782609
1,5,"'konsultasi','dokter','bagus','durasi','cepat'...",Pelayanan,negatif,10,8.400000
2,1,"'astaga','obat','beli','obat','harga','masuk',...",Harga,negatif,30,7.466667
3,5,"'terima,kasih','pelayanan','baik','cepat','pen...",Pelayanan,positif,13,8.500000
4,1,"'menelepon','nomor','hadiah','konfirmasi','apl...",Sistem,positif,10,8.909091

In [13]:
raw['aspect_category'] = raw['aspect_category'].apply(lambda x: x.lower())

In [14]:
raw.head()

,rating,review,aspect_category,polarity,word_count,avg_word
0,3,"'membantu','kondisi','pandemi','tolong','evalu...",pelayanan,negatif,44,7.782609
1,5,"'konsultasi','dokter','bagus','durasi','cepat'...",pelayanan,negatif,10,8.400000
2,1,"'astaga','obat','beli','obat','harga','masuk',...",harga,negatif,30,7.466667
3,5,"'terima,kasih','pelayanan','baik','cepat','pen...",pelayanan,positif,13,8.500000
4,1,"'menelepon','nomor','hadiah','konfirmasi','apl...",sistem,positif,10,8.909091

In [15]:
catagories = raw['aspect_category'].unique()
catagories , len(catagories)

(array(['pelayanan', 'harga', 'sistem', 'harga ', 'anekdot/serbaneka'],
       dtype=object),
 5)

In [16]:
raw['aspect_category'] = raw['aspect_category'].apply(lambda x: x.strip())

In [17]:
catagories = raw['aspect_category'].unique()
catagories , len(catagories)

(array(['pelayanan', 'harga', 'sistem', 'anekdot/serbaneka'], dtype=object), 4)

In [18]:
raw.groupby('aspect_category').size().sort_values(ascending=False)

aspect_category
pelayanan            396
anekdot/serbaneka    302
sistem                83
harga                 19
dtype: int64

In [19]:
raw.to_csv("data/data/1.2_data_cleaner_pure.csv", index=False)

In [20]:
tes = pd.read_csv('data/data/1.2_data_cleaner_pure.csv')

In [21]:
tes['review'] = tes['review'].apply(lambda x: x.replace("'",""))
tes.head()

,rating,review,aspect_category,polarity,word_count,avg_word
0,3,"membantu,kondisi,pandemi,tolong,evaluasi,keter...",pelayanan,negatif,44,7.782609
1,5,"konsultasi,dokter,bagus,durasi,cepat,dokter,do...",pelayanan,negatif,10,8.400000
2,1,"astaga,obat,beli,obat,harga,masuk,akal,lipat,u...",harga,negatif,30,7.466667
3,5,"terima,kasih,pelayanan,baik,cepat,pengiriman,b...",pelayanan,positif,13,8.500000
4,1,"menelepon,nomor,hadiah,konfirmasi,aplikasi,men...",sistem,positif,10,8.909091

In [22]:
tes['review'] = tes['review'].apply(lambda x: x.replace(","," "))
tes.head()

,rating,review,aspect_category,polarity,word_count,avg_word
0,3,membantu kondisi pandemi tolong evaluasi keter...,pelayanan,negatif,44,7.782609
1,5,konsultasi dokter bagus durasi cepat dokter do...,pelayanan,negatif,10,8.400000
2,1,astaga obat beli obat harga masuk akal lipat u...,harga,negatif,30,7.466667
3,5,terima kasih pelayanan baik cepat pengiriman b...,pelayanan,positif,13,8.500000
4,1,menelepon nomor hadiah konfirmasi aplikasi men...,sistem,positif,10,8.909091

In [23]:
sentences = raw.loc[:,['review','rating']]
def rating_to_sentiment(rating):
    if rating > 3:
        return 1
    else:
        return 0
    
sentences['sentiment'] = sentences['rating'].apply(rating_to_sentiment)
sentences.drop(['rating'],axis=1,inplace=True)
neg = sentences[sentences['sentiment'] == 0]
pos = sentences[sentences['sentiment'] == 1]
print("All Processed Data")
print("Negative: ",neg.shape)
print("Positive: ",pos.shape)

All Processed Data
Negative:  (125, 2)
Positive:  (675, 2)

In [24]:
tes.to_csv('data/data/1.2_data_cleaner_pure_2.csv',index=False)

In [25]:
sentences.head()

                                              review  sentiment
0  'membantu','kondisi','pandemi','tolong','evalu...          0
1  'konsultasi','dokter','bagus','durasi','cepat'...          1
2  'astaga','obat','beli','obat','harga','masuk',...          0
3  'terima,kasih','pelayanan','baik','cepat','pen...          1
4  'menelepon','nomor','hadiah','konfirmasi','apl...          0

In [26]:
sentences['review'] = sentences['review'].apply(lambda x: x.replace("'",""))
sentences.head()

                                              review  sentiment
0  membantu,kondisi,pandemi,tolong,evaluasi,keter...          0
1  konsultasi,dokter,bagus,durasi,cepat,dokter,do...          1
2  astaga,obat,beli,obat,harga,masuk,akal,lipat,u...          0
3  terima,kasih,pelayanan,baik,cepat,pengiriman,b...          1
4  menelepon,nomor,hadiah,konfirmasi,aplikasi,men...          0

In [27]:
sentences.to_csv("data/data/1.2_data_cleaner_pure_sentiment.csv",index=False)

In [28]:
raw['review'][795]

"'semudah','diklik','praktis','bantu'"